tqdm==4.28.1
yacs==0.1.6
h5py~=3.3.0
numpy~=1.21.1
scipy~=1.7.1
mathutils~=2.81.2
chumpy
cmake
numba
smplx~=0.1.28
pytube~=11.0.0
gdown==3.6.4
PyYAML==5.3.1
joblib==0.14.1
pillow
trimesh==3.5.25
pyrender==0.1.36
progress==1.5
filterpy==1.4.5
matplotlib~=3.4.2
tensorboard==2.2.0
scikit-build
torch~=1.7.1
torchvision~=0.8.2
opencv-python~=4.5.3.56
# llvmlite
git+https://github.com/mattloper/chumpy.git
git+https://github.com/mkocabas/yolov3-pytorch.git
git+https://github.com/mkocabas/multi-person-tracker.git

python-dateutil~=2.8.2
setuptools~=41.2.0
wheel~=0.36.2
scikit-image~=0.18.2
networkx~=2.6.2